<div id="modal">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label for="password" class="form-label required">{{"labels.newPassword"|translate}}</label>
      <p-password [toggleMask]="true" formControlName="newPassword" appendTo="body"
        placeholder="{{'placeholder.newPassword'|translate}}"
        [class.ng-dirty]="formControls?.newPassword?.invalid && (formControls?.newPassword?.dirty || formControls?.newPassword?.touched)">
        <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li class="mb-2">{{"validations.oneLowercase"|translate}}</li>
            <li class="mb-2">{{"validations.oneUppercase"|translate}}</li>
            <li class="mb-2">{{"validations.oneNumeric"|translate}}</li>
            <li class="mb-2">{{"validations.MinimumCharacters"|translate}}</li>
          </ul>
        </ng-template>
      </p-password>
      <div class="mt-2">
        <ng-container
          *ngIf="formControls?.newPassword?.invalid && (formControls?.newPassword?.dirty || formControls?.newPassword?.touched)">
          <ng-container *ngIf="formControls?.newPassword?.errors?.['required']">
            <span class="text-danger fs-8">
              {{'validations.requiredNewPassword'|translate}}
            </span>
          </ng-container>
          <ng-container *ngIf="formControls?.newPassword?.errors?.['pattern']">
            <span class="text-danger fs-8">
              {{'validations.passwordPattern'|translate}}
            </span>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="mb-3">
      <label for="confirmpassword" class="form-label required">{{"labels.confirmNewPassword"|translate}}</label>
      <p-password [toggleMask]="true" id="confirmpassword" formControlName="confirmPassword" appendTo="body"
        placeholder="{{'placeholder.confirmNewPassword'|translate}}" autocomplete="off"
        [class.ng-dirty]="formControls?.confirmPassword?.invalid && (formControls?.confirmPassword?.dirty || formControls?.confirmPassword?.touched)">

        <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li class="mb-2">{{"validations.oneLowercase"|translate}}</li>
            <li class="mb-2">{{"validations.oneUppercase"|translate}}</li>
            <li class="mb-2">{{"validations.oneNumeric"|translate}}</li>
            <li class="mb-2">{{"validations.MinimumCharacters"|translate}}</li>
          </ul>
        </ng-template>
      </p-password>
      <div class="mt-2">
        <ng-container
          *ngIf="formControls?.confirmPassword?.invalid && (formControls?.confirmPassword?.dirty || formControls?.confirmPassword?.touched)">
          <ng-container *ngIf="formControls?.confirmPassword?.errors?.['required']">
            <span class="text-danger fs-8">
              {{'validations.requiredConfirmNewPassword'|translate}}
            </span>
          </ng-container>
          <ng-container *ngIf="formControls?.confirmPassword?.errors?.['pattern']">
            <span class="text-danger fs-8">
              {{'validations.passwordPattern'|translate}}
            </span>
          </ng-container>
          <ng-container *ngIf="formControls?.confirmPassword?.errors?.['ConfirmPassword']">
            <span class="text-danger fs-8">
              {{'validations.not_matched'|translate}}
            </span>
          </ng-container>


        </ng-container>
      </div>
    </div>
    <div class="d-flex justify-content-end gap-3 flex-wrap mt-5">
      <button type="submit" class="btn btn-solid-main d-flex align-items-center justify-content-center gap-2">
        <span>
          {{'general.save'|translate}}
        </span>
        <i class="pi pi-save"></i>
      </button>
      <button type="button" class="btn btn-outline-main d-flex align-items-center gap-2" (click)="cancel()">
        <span>
          {{'general.cancel'|translate}}
        </span>
        <i class="pi pi-times"></i>
      </button>
    </div>
  </form>
</div>