:host::ng-deep {
  .p-inputswitch .p-inputswitch-slider {
    scale: 0.9 !important;
  }
  .p-tree {
    max-height: 250px;
    overflow: auto;
    border: none;
  }
  .p-treeselect-panel .p-treeselect-items-wrapper .p-tree {
    background-color: transparent !important;
  }
  .p-tree {
    background-color: #02305824 !important;
  }
}
